<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ws.l10n.portal.repository.PortalUserRepository">

    <resultMap id="userMap" type="ws.l10n.portal.domain.PortalUser">
        <id column="u.id" property="id"/>
        <result column="u.email" property="email"/>
        <result column="u.password" property="password"/>
        <result column="u.first_name" property="firstName"/>
        <result column="u.last_name" property="lastName"/>
        <result column="u.access_token" property="accessToken"/>
        <result column="u.role" property="role"/>
    </resultMap>

    <insert id="save" parameterType="ws.l10n.portal.domain.PortalUser" useGeneratedKeys="true" keyProperty="id"
            keyColumn="id">
        INSERT INTO portal_user
        (email, password, first_name, last_name, access_token, role)
        VALUES
        (#{email}, #{password}, #{firstName}, #{lastName}, #{accessToken}, #{role})
    </insert>

    <insert id="update" parameterType="ws.l10n.portal.domain.PortalUser">
        UPDATE portal_user
        SET email = #{email}, password = #{password}, first_name = #{firstName}, last_name = #{lastName}, role = #{role}
        WHERE id = #{id}
    </insert>

    <insert id="updateAccessToken" parameterType="ws.l10n.portal.domain.PortalUser">
        UPDATE portal_user
        SET access_token = #{param2}
        WHERE id = #{param1}
    </insert>

    <select id="getByProjectId" parameterType="int" resultMap="userMap">
        SELECT
            u.id as "u.id",
            u.email as "u.email",
            u.password as "u.password",
            u.first_name as "u.first_name",
            u.last_name as "u.last_name",
            u.access_token as "u.access_token",
            u.role as "u.role"
        FROM
          portal_user u INNER JOIN user_permission up ON up.user_id = u.id
        WHERE
          up.project_id = #{id}
    </select>

    <select id="all" resultMap="userMap">
        SELECT
            u.id as "u.id",
            u.email as "u.email",
            u.password as "u.password",
            u.first_name as "u.first_name",
            u.last_name as "u.last_name",
            u.access_token as "u.access_token",
            u.role as "u.role"
        FROM
            portal_user u
    </select>

    <select id="getByAccessToken" parameterType="string" resultMap="userMap">
        SELECT
            u.id as "u.id",
            u.email as "u.email",
            u.password as "u.password",
            u.first_name as "u.first_name",
            u.last_name as "u.last_name",
            u.access_token as "u.access_token",
            u.role as "u.role"
        FROM
          portal_user u
        WHERE
          u.access_token = #{token}
    </select>

    <select id="getByEmail" parameterType="java.lang.String" resultMap="userMap">
        SELECT
            u.id as "u.id",
            u.email as "u.email",
            u.password as "u.password",
            u.first_name as "u.first_name",
            u.last_name as "u.last_name",
            u.access_token as "u.access_token",
            u.role as "u.role"
        FROM
          portal_user u
        WHERE
          u.email = #{email}
    </select>

    <select id="get" parameterType="int" resultMap="userMap">
        SELECT
            u.id as "u.id",
            u.email as "u.email",
            u.password as "u.password",
            u.first_name as "u.first_name",
            u.last_name as "u.last_name",
            u.access_token as "u.access_token",
            u.role as "u.role"
        FROM
          portal_user u
        WHERE
          u.id = #{id}
    </select>

    <insert id="saveAuthToken">
        INSERT INTO auth_token
        (user_id, auth_token, update_date)
        VALUES
        (#{userId}, #{authToken}, now())
    </insert>

    <select id="getByAuthToken" resultMap="userMap">
        SELECT
        u.id as "u.id",
        u.email as "u.email",
        u.password as "u.password",
        u.first_name as "u.first_name",
        u.last_name as "u.last_name",
        u.access_token as "u.access_token",
        u.role as "u.role"
        FROM
        auth_token t join portal_user u on t.user_id = u.id
        WHERE
        t.auth_token = #{authToken}
    </select>

    <select id="getAuthToken" resultType="string">
        SELECT t.auth_token
        FROM
        auth_token t
        WHERE
        t.user_id = #{userId}
    </select>

    <select id="getAuthTokenByEmail" resultType="string">
        SELECT t.auth_token
        FROM
        auth_token t join portal_user u on t.user_id = u.id
        WHERE
        u.email = #{email}
    </select>

    <delete id="delete" parameterType="java.lang.Integer">
        DELETE FROM portal_user WHERE id = #{id}
    </delete>


</mapper>
